@model IEnumerable<Closure2.Models.CommentsAmounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="TableFormat">
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.postText)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.commentsAmount)
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.postText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.commentsAmount)
                </td>
            </tr>
        }
    </table>
</div>

<br />
<div>
    @Html.ActionLink("Back to Products", "Index")
</div>

