@model IEnumerable<Closure2.Models.Branch>
@{
    ViewBag.Title = "Index";
}
<h2>Branches</h2>
<div id="filter" class="container">
    @using (Html.BeginForm("Search", "Branch", FormMethod.Get, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="form-group">
            <label for="product" class="col-sm-1 control-label">Product</label>
            <div class="col-sm-2 row-fluid">
                @Html.DropDownList("product", ViewBag.Products as SelectList, "All", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-2">
                @Html.TextBox("name", null, new { @class = "form-control", @id="name" })
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-1 control-label">Street</label>
            <div class="col-sm-2">
                @Html.TextBox("street", null, new { @class = "form-control", @id="street"})
            </div>
        </div>
        <div class="col-sm-3">
        <input type="submit" value="Filter" class="btn btn-default" />
            </div>
    }
</div>

@if (User.IsInRole("Administrators"))
{
    @Html.ActionLink("Add new branch", "Create")}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                    <text>|</text>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
