@model IEnumerable<Closure2.Models.Branch>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<h2>Search a Branch</h2>

<div class="filter">
    @using (Html.BeginForm("Search", "Branch", FormMethod.Get))
    {
        <text>
        By Product: @Html.DropDownList("product", ViewBag.Products as SelectList, "All")<br />
        By Name: @Html.TextBox("product")<br />
        By Street: @Html.TextBox("street")<br />
        </text>
        <input type="submit" value="Filter" class="button" />
    }
</div>

@if (User.IsInRole("Administrators"))
{
    @Html.ActionLink("Add new branch", "Create")}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                    <text>|</text>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
