@model IEnumerable<Closure2.Models.CommentModels>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@if (User.IsInRole("Administrators") || User.IsInRole("Users"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>}

<div id="filter" class="container">
    @using (Html.BeginForm("Search", "Comment", FormMethod.Get, new { @class = "form-horizontal", @role = "form", id = ViewBag.ID }))
    {
        <div class="form-group">
            <label for="text" class="col-sm-1 control-label">Text</label>
            <div class="col-sm-2">
                @Html.TextBox("text", null, new { @class = "form-control", @id="text" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-1 control-label">Date</label>
            <div class="col-sm-2">
                @Html.TextBox("date", "1-1-14", "mm-dd-yy",new { @class = "form-control", @id="street"})
            </div>
        </div>
        <div class="col-sm-3">
        <input type="submit" value="Filter" class="btn btn-default" />
            </div>
    }
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postId)
            </td>
            <td>
                @if (User.IsInRole("Administrators") || User.IsInRole("Users"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    <text>|</text>
                    @Html.ActionLink("Create", "Create", new { id = item.ID }) 
                    <text>|</text>}
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
