@model IEnumerable<Closure2.Models.CommentModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Search a post</h2>

<p>
    @using (Html.BeginForm("Search","Comment",FormMethod.Get))
    {
        <p>
            Text: @Html.TextBox("text")<br />
            Date: @Html.TextBox("date","1-1-14","mm-dd-yy");
            <input type="submit" value="Filter" />
        </p>
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
